:host {
  --item-bg: #8b8b8b;
  --item-border: #ffcc66;
  --info-color: #ffffff;

  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  width: var(--container-size);
}

:host.kind-relic {
  --item-bg: #ef8daf;
  --item-border: #bebe58;
  --info-color: #c89f0b;
}

:host.game-operation-guns {
  --item-bg: #121212;
  --item-border: #b2b2b2;
}

:host.game-emerald-diorama {
  --item-bg: #151414;
  --item-border: #52cbbe;
}

:host.game-castlevania {
  --item-bg: #272770;
  --item-border: #f7f7f9;
}

:host.size-small {
  --container-size: 48px;
  --box-size: 40px;
}

:host.size-medium {
  --container-size: 56px;
  --box-size: 48px;
}

:host.size-large {
  --container-size: 64px;
  --box-size: 60px;
}

.box {
  aspect-ratio: 1;
  background-color: var(--item-bg);
  border: 2px solid var(--item-border);
  border-radius: 4px;
  display: grid;
  overflow: hidden;
  width: var(--box-size);
}

.img {
  aspect-ratio: 1;
  display: block;
  grid-area: 1 / 1;
  height: 100%;
  image-rendering: pixelated;
  padding: 6px;
  width: 100%;
}

.info {
  align-content: end;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0) 50%,
    rgba(51, 51, 51, 1) 100%
  );
  color: var(--info-color);
  font-family: monospace;
  font-size: 12px;
  font-weight: 600;
  grid-area: 1 / 1;
  padding-inline: 2px;
  pointer-events: none;
  text-align: end;
  word-break: break-word;
}

.name {
  color: var(--text-primary);
  display: inline-block;
  font: 400 var(--type-text-2xs);
  margin-block-start: 2px;
  text-align: center;

  &:enabled,
  &:any-link {
    text-decoration-color: transparent;
    text-decoration-line: underline;
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
    text-underline-offset: 1px;
    transition-property: text-decoration-color;
    transition-duration: 200ms;
    transition-timing-function: ease-out;
  }

  @media (hover: hover) {
    &:enabled:hover,
    &:any-link:hover {
      cursor: pointer;
      text-decoration-color: currentColor;
    }
  }
}

:host.hideName .name {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
