.name {
  color: var(--text-secondary);
  font: var(--type-display-sm);
}

.time {
  background: none;
  border: none;
  color: var(--text-primary);
  cursor: pointer;
  font: var(--type-display-md);
  margin: 0;
  padding: 0;
  text-align: start;
}
