:host {
  box-sizing: border-box;
}

.container {
  display: grid;
  gap: 48px;
}

.app {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-inline-end: auto;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
