:host {
  box-sizing: border-box;
}

.panel {
  border: 1px solid var(--border-primary);
  border-radius: 8px;
}

.panel + .panel {
  margin-block-start: 48px;
}

.panel_header {
  border-block-end: 1px solid var(--border-primary);
  padding-block: 12px;
  padding-inline: 24px;
}

.panel_title {
  font: 500 var(--type-display-xs);
  margin: 0;
}

.panel_body {
  padding-block: 24px;
  padding-inline: 24px;
}

.form {
  display: grid;
  gap: 24px;
  max-width: 600px;
}

.app {
  align-items: center;
  display: flex;
  gap: 12px;
  margin-inline-end: auto;
}

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
