@if (items() === null) {
  <div>Getting your events...</div>
} @else if (hasItems()) {
  <div class="container">
    @for (item of items(); track item.id) {
      <app-countdown
        [date]="item.date"
        [name]="item.name"
        [format]="format"
        (clicked)="handleCountdownClick()"
      />
    }
  </div>
  <div>
    <button
      ui-button
      kind="primary"
      size="large"
      (click)="createEventDialog.showDialog()"
    >
      Add Event
    </button>
    <app-create-event-dialog #createEventDialog (success)="fetchItems()" />
  </div>
} @else {
  <ui-empty title="Looks like you don't have any countdowns!">
    <ui-icon uiSlot="image" kind="calendar" size="80px" />
    <div uiSlot="content">
      Go to <a href="https://calendar.google.com">Google Calendar</a> and update
      the description for any event with "<code>#countdown</code>".
    </div>
  </ui-empty>
}
