:root {
  --font-family-display: 'Courier New', Courier, monospace;
  --font-family-body: Arial, -apple-system, 'Helvetica Neue', sans-serif;

  --type-display-xs: 24px/1.25 var(--font-family-display);

  --type-text-xl: 20px/1.5 var(--font-family-body);
  --type-text-lg: 18px/1.56 var(--font-family-body);
  --type-text-md: 16px/1.5 var(--font-family-body);
  --type-text-sm: 14px/1.43 var(--font-family-body);
  --type-text-xs: 12px/1.5 var(--font-family-body);
  --type-text-2xs: 10px/1.25 var(--font-family-body);
  --type-text-3xs: 8px/1.25 var(--font-family-body);

  --text-primary: #ffffff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  min-height: 100dvh;
}
