@if (items() === null) {
  <div>Getting your events...</div>
} @else if (hasItems()) {
  <div class="container">
    @for (item of items(); track item.id) {
      <app-countdown
        [date]="item.date"
        [name]="item.name"
        [format]="format()"
        (clicked)="handleCountdownClick()"
      />
    }
  </div>
  <div>
    <button
      ui-button
      kind="primary"
      size="large"
      (click)="createEventDialog.showDialog()"
    >
      Add Event
    </button>
  </div>
} @else {
  <app-events-empty (createClicked)="createEventDialog.showDialog()" />
}

<app-create-event-dialog #createEventDialog (success)="fetchItems()" />
