.page {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100dvh;
}

.wrapper {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  overflow-x: auto;
}

.footer {
  background-color: var(--bg-primary);
  color: var(--text-primary);
  font: 400 var(--type-text-sm);
  padding-block: 12px;
  padding-inline: 16px;
}
