.container {
  display: grid;
  gap: 24px;
  padding-block: 24px;
}

.footer {
  background-color: var(--bg-primary);
  bottom: 0;
  padding-block: 12px;
  padding-inline: 12px;
  position: sticky;
  text-align: center;
}
