.company {
  font: 600 var(--type-text-xl);
  margin-block: 0;
}

.companyDates {
  font-weight: 700;
}

@media (width < 600px) {
  .position {
    margin-block-start: 12px;
  }
  .positionDates {
    display: flex;
  }
}

@media (width >= 600px) {
  .row {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .positionDates {
    border-inline-start: 1px solid var(--border-secondary);
    margin-inline-start: 12px;
    padding-inline-start: 12px;
  }
}
