.outer {
  margin-block: 32px 40px;
  scroll-margin-block-start: 80px;
}

.photo_img {
  aspect-ratio: 1;
  border-radius: 50%;
  display: block;
  overflow: hidden;
  width: 172px;
}

.about_row {
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  gap: 24px;
}

.about_list {
  display: flex;
  flex-direction: column;
  max-width: 60ch;
}

.name {
  font: 600 var(--type-display-md);
  margin-block: 4px;
}

.description {
  margin-block: 1rem;
  text-wrap: pretty;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: center;
  list-style: none;
  margin-block: 8px 0;
  margin-inline: auto;
  padding: 0;
}

@media (width < 520px) {
  .photo {
    margin-inline: auto;
  }

  .photo_img {
    margin-inline: auto;
    width: 140px;
  }

  .about_row {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
}
